header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item{
  margin-right: 40px;
  list-style: none;
}
.item{
  color: black;
  text-decoration: none;
}
.main{
  background-color: whitesmoke;
  padding-bottom: 65vh;
  height: 850px;

  }
  .log{
  text-align: center;
  }
  table{
    border-collapse: collapse;
    width: 100%;
  }
  table th{
    text-align: center;
    padding-top: 5%;
  }
  table td{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .form_item{
    border-top: 2px solid gray;
  }
  .day{
    display: flex;
    padding-left: 43%;
    padding-top: 4%;
    align-items: center;
    font-size: 170%;
  }
  .left{
    padding-right: 1%;
    padding-left: 1%;
    background-color: white;
    color: blue;
    text-decoration: none;
    border: solid;
    border-color: blue;
    margin-top: -1%;
  }
  .right{
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    color: blue;
    text-decoration: none;
    border: solid;
    border-color: blue;
    margin-top: -1%;
  }
  .page{
    padding-left: 45%;
  }