.main{
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 38vh;
  padding-top: 10%;
}
.email{
  background-color: whitesmoke;
  margin-bottom: 1%;
  width: 15%;
  height: 30px;
}
.password{
  background-color: whitesmoke;
  margin-bottom: 1%;
  width: 15%;
  height: 30px;
}
.log{
  text-align: center;
}
.ml-3{
  background-color: blue;
  color: white;
  width: 15%;
  height: 30px;
}
.message{
  color: gray;
}
.register{
  text-decoration: none;
  color: blue;
}