.main{
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 34vh;
  padding-top: 10%;
  
}
.name,.email,.password,.password_confirmation{
  background-color: whitesmoke;
  margin-bottom: 1%;
  width: 15%;
  height: 30px;
}
.ml-4{
  background-color: blue;
  color: white;
  width: 15%;
  height: 30px;
}
.message{
  color: gray;
}
.login{
  text-decoration: none;
  color: blue;
}
.log{
  text-align: center;
}